 @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
body{
    background-image: url('./Images/Background\ Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: #212121;
    background-blend-mode: soft-light; */
    /* height: 100vh; */
    
}

#sec-1{
    height: 75vh;
    max-height: 100vh;
    overflow:auto;
    width: 60%;
}
#sec-2{
   width: 40%;
   height: 75vh;
   max-height: 100vh;
   overflow: auto;
   
 }

 header{
    display: flex;
    height: 80px;
    background-color: #ff9800;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    box-shadow: 2px 2px 3px gray;
 }

 header h1{
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #f5f5f5;
    /* text-transform: uppercase; */
 }

 header button{
    width: 120px;
    height: 35px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    background-color: #212121;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
 }

 header button:disabled{
   background-color: grey;
   cursor: not-allowed;
   
 }

 header input{
    width: 250px;
    height: 35px;
    padding: 10px;
    border: none;
    outline: none;
    margin: 0px 10px;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
 }

 main{
    display: flex;
    margin: 40px 3%;
 }

 .headings{
    font-family: Poppins, sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #212121;
    
 }
.sec-2-heading{
   margin-left: 20px !important;
}

 .listItem{
    list-style: none;
    margin: 20px 0px;
    background:whitesmoke;
    position: relative;
    z-index: 555555;
    border: 1px solid #212121;
    padding: 10px;
    box-shadow: 2px 2px 3px gray;
    color: #212121;
    font-family: Poppins, sans-serif;
    cursor: pointer;
 }

 .title{
    font-weight: bold;
    font-family: Poppins, sans-serif;
    color: #ff9800;
 }



#details-container{
   padding: 20px;
   
}

#details-container h2{
   font-weight: 700;
   font-family: Poppins,sans-serif;
   color: #ff9800;
}
#details-container li{
   list-style: none;
   font-family: Poppins,sans-serif;
   margin: 5px 0px;
   color: #212121;
}

#instructions{
   font-family: Poppins, sans-serif;
   font-weight: 700;
   color: #ff9800;
}

#instruction-box{
   font-family: Poppins, sans-serif;
   color: #212121;
}

@media only screen and (max-width:768px) {
   header button{
      width: 80px;
      
   }
   header input{
      width: 200px;
   }
  
}

@media only screen and (max-width:425px){
   header{
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items:center;
   }
   main{
      display: flex;
      flex-direction: column;
      height: 100vh;
   }
   #sec-1{
      width: 100%;
      height: 50vh;
   }
   #sec-2{
      width: 100%;
      height: 50vh;
   }
   #details-container{
      /* border: 1px solid #212121; */
   }
   body{
      background-size: 80% 60%;
   }
}